* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-style: normal;
    font-weight: 200;
}

body {
    background-color: blueviolet;
    font-size: 1em;
}

.main-container {
    background-color: blueviolet;
    width: 80vw;
    height: 80vh;
    margin: 30px;
    padding: 10px;
}

/* #main-container {
    background-color: fuchsia;
} */

.list-container {
    text-align: justify;
}

#list-container, h3, h1 {
    text-align: center;
}

h3 {
    font-size: 1.2em;
    background-color:greenyellow;
    padding: 5px;
    margin: 0 auto;
    width: 50vw;

}

h1 {
    font-size: 2.7em;
    background-color:brown;
    padding: 0px;
}

.lists1 {
    list-style-type: upper-roman;
}

#lists1 {
    list-style-type: upper-roman;
}

.lists2 {
    list-style: square;
}
